.header {
    margin-top: 0.1rem;
    font-weight: bold;
    text-decoration-line: none;
    padding: 2rem;
    background-color: rgb(50, 53, 53);
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    min-width: 400px;
    border-bottom: 2px solid rgb(70, 67, 67);
    
}
.header h1 {
    font-size: 2.25rem;
    color: white;
    background-color: transparent;
    text-decoration: none;
    color: aliceblue;
}

.cart-icon {
    font-size: 1.3rem;
    margin-top: .5rem;
}

.fa-donate:before {
    content: "\f4b9";
}

.fa-shopping-cart:before {
    content: "\f07a";
}

.notifications {
    width: 2rem;
    height: 2rem;
    border: 6px rgb(235, 219, 50) solid;
    border-radius: 50%;
    background-color: #212724;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}

.hint {   
    position: absolute;
}

.hint:hover::after {   
    content: attr(data-cart);
    
}